* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-train.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

header {
    text-align: center;
    background: #210000;;
    box-shadow: 1px 1px 6px #00000052;
    padding: 1%;
}

h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 2rem;
    color: rgb(241, 188, 89);
    padding-top: 1%;
}

main {
    text-align: center;
    background: #1b1a1a8f;
    width: 100%;
    min-height: 100vh;
}

button {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: rgb(109, 24, 31);
    background: rgb(241, 188, 89);
    padding: 5px 80px;
    border: none;
    border-radius: 50px;
    margin-bottom: 3%;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
}

button:hover {
    background: #210000;;
    color: rgb(241, 188, 89);
    transition: .2s ease;
}

span {
    color: rgb(241, 188, 89);
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;  
    font-weight: lighter;
    letter-spacing: 5px;
    padding: 10% 0 5% 0;
}

